
@{
    ViewBag.Title = "ImportLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <!-- Page body start -->
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <!-- Basic Form Inputs card start -->
                <div class="card">
                    <div class="card-header">
                        <h5>Import Log</h5>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table id="tblImportLog" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>File Name</th>
                                        <th>Record Count</th>
                                        <th>Imported Date</th>
                                        <th>Imported By</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Page body end -->
</div>

<div id="RewardPrizeDetailModal">
    <div class="md-content">
        <div class="table-responsive">
            <table id="tblImportRewardPrizeDetail" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Row</th>
                        <th>Item Code</th>
                        <th>Country</th>
                        <th>Category</th>
                        <th>Reward Points<br /> Required</th>
                        <th>Valid Till</th>
                        <th>Product Name</th>
                        <th>Unit Cost</th>
                        <th>Supplier</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="form-group row div-centerbtn">
            <div class="col-sm-3">
                <button type="button" id="btnOK" onclick="ImportDetailClose();" class="btn btn-block btn-grd-info">Close</button>
            </div>
        </div>
    </div>
</div>

<input id="HGetImportLog" type="hidden" value="@Url.Action("GetImoprtLog", "api/ImportApi")" />
<input id="HGetImportRewardPrize" type="hidden" value="@Url.Action("GetImportRewardPrize", "api/ImportApi")" />

@section Scripts{
    <script src="@Url.Content("~/Scripts/import.js?v=3")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            ImportLogLoad();
        });
    </script>
}


