.input-group {
    margin-bottom: 0;
}

.activeicon{
    font-size: 20px;
    color:#68a3a3;
}

.inactiveicon {
    font-size: 20px;
    color: indianred;
}

.addonUpload{
    font-size:12px;
    color:orange;
}

.addonPdf {
    font-size: 14px;
    color: red;
}

.addonImage {
    font-size: 14px;
    color: cornflowerblue;
}

.addonTrashbin {
    font-size: 14px;
    color: red;
}

.uploadbackground {
    background-color: lightgoldenrodyellow;
}

tr.group,
tr.group:hover {
    background-color: #68a3a3 !important;
    text-align: center;
    color: white;
}

.customaddon {
    background-color: #e9ecef;
}

.customaddon img{
    width: 14px;
}

.nomarginbottom{
    margin-bottom : 0;
}

.addbtn {
    background: #01a9ac;
    border: #01a9ac;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.advsearch {
    background-color: #a17097 !important;
    border-color: #a17097 !important;
}

.searchbtn {
    background-color: #a17097;
    border-color: #a17097;
    border-radius: 2px;
    color:#fff;
    font-size:14px;
}

.searchclearbtn {
    background-color: #e38b77;
    border-color: #e38b77;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    margin-right:10px
}

.searchcard {
    border: 1px #a17097 dashed;
    display:none;
}

.searchfooter {
    background-color: #e4e0e5 !important;
    padding:5px;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li > a{
    font-size : 12px;
}

.col-form-label{
    font-size : 12px;
}

.form-control{
    font-size: 12px;
}

.date{
    text-align:center;
}

.waitingloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.gj-datepicker-bootstrap [role=right-icon] button .gj-icon, .gj-datepicker-bootstrap [role=right-icon] button .material-icons{
    top:5px !important;
}

.card .card-header h5 {
    font-size: 18px;
    color: midnightblue;
    font-weight: bold;
}

.gridbtndetail {
    background-color: #edd8cc;
    border: 1px dashed black;
    cursor: pointer;
}

.gridbtnedit{
    background-color:lemonchiffon;
    border:1px dashed black;
    cursor:pointer;
}

.gridbtnregister {
    background-color: lavenderblush;
    border: 1px dashed black;
    cursor: pointer;
}

.gridbtnphoto {
    background-color: deepskyblue;
    color:white;
    border: 1px dashed white;
    cursor: pointer;
}

.gridbtnpdf {
    background-color: white;
    color: red;
    border: 1px dashed white;
    cursor: pointer;
}

.main-body .page-wrapper{
    padding: 0;
}

.pcoded .pcoded-navbar .pcoded-item > li > a{
    font-size:12px;
}

.pcoded .pcoded-navbar .pcoded-item > li > a > .pcoded-micon{
    font-size:12px;
}

.pcoded[theme-layout="vertical"][vertical-nav-type="expanded"] .pcoded-header .pcoded-left-header, .pcoded[theme-layout="vertical"][vertical-nav-type="expanded"] .pcoded-navbar{
    width:180px;
}

.main-menu {
    width: 180px;
}

.pcoded[theme-layout="vertical"][vertical-placement="left"][vertical-nav-type="expanded"][vertical-effect="shrink"] .pcoded-content{
    margin-left:180px;
}

.pr10 {
    padding-right: 10px !important;
}

.pointerCursor {
    cursor: pointer;
}

.navbar-logo{
    border-right:1px black solid;
}

.pcoded .pcoded-header[header-theme="theme1"] .navbar-logo a {
    color: black;
}

.height300{
    height:300px !important;
}

.div-centerbtn {
    display: flex;
    justify-content: center;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.btn-block{
    width : 100%;
}

.table td{
    vertical-align : middle;
    padding:5px;
}

.widepadding td {
    vertical-align: middle;
    padding: 10px;
}

.gridbtn {
    padding: 5px;
    width: 50px;
    margin-left: 2px;
}

textarea.form-control {
    height: 130px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.iziModal.iziModal-light .iziModal-header-title {
    color: white;
}

.card .card-header h5{
    font-size : 16px;
}

.valign-center{
    vertical-align:middle;
}

.btn-outline-secondary{
    height : 100%;
}

.gj-datepicker{
    margin-bottom : 0px;
}

.hidden{
    display : none;
}

.img-product{
    width:120px;
    height:100px;
}

.card .card-block table tr{
    height: 0 !important;
}

.odd > .dtfc-fixed-left {
    background-color: #F2F2F2;
}

.even > .dtfc-fixed-left {
    background-color: white;
}

.table th{
    background-color : aliceblue;
}

/*.table th td {
    width: 100% !important;
    clear: both;
    border-collapse: collapse;
    word-wrap: break-word;
    white-space: normal;
}
*/

th,td {
    white-space: normal !important;
}

.width10p{
    width:10%;
}

.width20p {
    width: 20%;
}

.table thead th{
    vertical-align : top;
}