
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div id="content">
        <img src="https://training.dlink.com.au/Images/DLINK_banner.jpg"/>
    </div>
</body>
</html>
