@model VPPModel.MultipurposeModel
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <!-- Page body start -->
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <!-- Basic Form Inputs card start -->
                <div class="card">
                    <div class="card-header">
                        <h5>Contact Us</h5>
                    </div>
                    <div class="card-block">
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(x => x.Text1, new { @tabIndex = 1, @class = "form-control height300" })
                                </div>
                            </div>
                            <div id="divSave" class="form-group row div-centerbtn">
                                <div class="col-sm-2">
                                    <button type="button" id="btnSave" tabindex="2" onclick="CompanyInfoUpdate();" class="btn btn-block btn-grd-success"><span id="btnSaveText">Save</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Page body end -->
</div>

<input id="HMultipurposeUpdate" type="hidden" value="@Url.Action("MultipurposeUpdate", "api/MultipurposeApi")" />
<input id="HMultipurposeID" type="hidden" value="03" />
<input id="HKeyCode" type="hidden" value="001" />

<!-- Main-body end -->
@section Scripts{
    <script src="@Url.Content("~/Scripts/multipurpose.js?v=1")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            GetCompanyInfo();
        });
    </script>
}


